<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TxPms.Properties.Settings.PmsConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Pms.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DbHelperProvider" value="System.Data.SqlClient" />
    <add key="DbHelperConnectionString"
         value="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Pms.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
         />
    
  </appSettings>

</configuration>