<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbHelperProvider" value="System.Data.SqlClient" />
    <add key="DbHelperConnectionString"
         value ="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Projects\Pms\TX_PMS\Pms.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
         />
    
  </appSettings>

</configuration>